nav img{
    width: 120px;
}
.card-img {
    filter: brightness(50%);
  }
.card-img-overlay{
    margin-right: 10%;
    text-align: right;
}
u {
    border-bottom:1px dotted #000000;
    color:#333333;
    text-decoration:none;
    }
footer{
    background-color: #214d67 ;
    height: 150px;
	margin-top: 3px;
}
.btn-enviar{
		background-color: #96c93e;
		color: white;
}


    